.container {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #333;
  height: 360px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}